<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gigawattstechnology.mydiary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon4"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon4"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyDiary"
        tools:replace="android:fullBackupContent"
        tools:targetApi="31">
        <activity
            android:name=".ViewImage"
            android:exported="false" />
        <activity
            android:name=".WriteDay"
            android:exported="false" />
        <activity
            android:name=".Diary"
            android:exported="false"
            android:label="@string/title_activity_diary"
            android:theme="@style/Theme.MyDiary.NoActionBar" />
        <activity
            android:name=".LogInActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://757922249274476:vONW2OphHLSaY-eDlZpe74cbuZU@dbgmkskmk" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>